@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
body{
    font-family: 'Poppins', sans-serif;   
}
h2{
    font-size: 28px;
}
h3{
    font-size: 24px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    padding: 30px;  
    margin-top: 21px;
}
.header-title {
    padding-left: 100px;
}
.header-title h1 {
    font-size: 24px;
}
.header-section {
    display: flex;
}
.header-text h1 {
    font-size: 50px;
    font-weight: 700;
    color: #3A3A3A;
}
i.fas.fa-arrow-right {
    padding: 0 5px;
    font-size: 15px;
}
.header-info {
    padding: 100px;
    width: 50%;
}

.header-image {
    padding: 100px;
}
.header-button {
    background-color: #E02C6D;
    padding: 10px 24px;
    color: #fff;
    font-weight: 700;
    border-radius: 50px;
    border: none;
}
/* collection css */
.section-title {
    text-align: center;
}
.collection .collection-banner img{
    height: 256px;
    width: 300px;
}
.collection:hover .collection-detail{
    display: block;
    background-color: #E02C6D;
    color: #fff;
}
.collection:hover .collection-banner{
    transform:scale(1.5) rotate(60deg) ;
    transition: transform 2s;
}
.collection-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}
.collection { 
    width: 329px;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}
.collection-button {
    color: #E02C6D;
    background: none;
    border: none;
    float: right;
}
/* my section css */

.selection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 100px;
    margin-top: 50px;
}
.selection-title .color{
    color: #E02C6D;
}
.selection-title {
    height: 224px;
    width: 610px;
}
.selection-title a{
    background-color: #E02C6D;
    padding: 10px 24px;
    color: #fff;
    font-weight: 700;
    border: none;
    text-decoration: none;
}
i.fas.fa-thumbs-up {
    padding: 5px;
}
/* fotter css */
.assignment-footer{
    background-color: #0A0826;
    width: 100%;
    color: #fff;
    text-align: center;
}
.assignment-footer h3{
    font-size: 24px;
}
.assignment-footer p{
    font-size: 14px;
}
.footer-icon .fab {
    border: 1px solid;
    border-radius: 50px;
    padding: 5px;
}
/* Media Queries */

/* Mobile Devices */

@media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
.header-info, .collections, .selection{ 
    grid-template-columns: repeat(1, 1fr);
}
.collection, .my-selection .assignment-footer{
    flex-direction: column;
}
@media only screen and (min-width:688px) and (max-width:992px){
    .container{
        width: 100%;
    }
    .collections, .selection{
        grid-template-columns: repeat(2, 1fr);
    }
    
}
 
}
 
 